body {
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: #ff9dab;
    color: white;
}

.navbar-brand {
    color: white;
    font-weight: bold;
}

.nav-link {
    color: white;
}

.container {
    background-color: #ffe9ec;
    width: 768px;
    max-width: 80%;
}

h1, hr, p {
    margin: 10px;
}

.answer-btn {
    background-color: #014254;
    color: white;
    margin: 5px;
    border: none;
    padding: 10px;
    position: center;

}

.answer-btn:hover {
    background-color: #014254;
}

.btn-quiz {
    background-color: #ff9dab;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
    border: none;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;

}

.btn-quiz:hover {
    background-color: #ffb6c1;
}

.hide {
    display: none;
}

#after-submit{
    visibility: hidden;
}